<link type="text/css" rel="stylesheet" href="infrastructures/info-infrastructure/info-infrastructure.template.css"/>

<div class="row ">
	<div class="col-xs-12 left-container">
		<div class="row nav-arrow">
			<div ng-if="$ctrl.precedent" class="col-xs-12 tiny-margin-top half-margin-left">
				<a ng-href="#!/technologie/{{$ctrl.precedent.urlId}}/1"><i class="fa fa-2x fa-chevron-up" aria-hidden="true"></i></a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h2>{{$ctrl.infrastructure.nom | capitalize}}</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<img alt="logo-pile" class="img-circle img-responsive img-infra" ng-src="{{$ctrl.infrastructure.img}}">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h3>Description</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<p>{{$ctrl.infrastructure.description}}</p>
			</div>
		</div>
		<div class="row float-bottom">
			<div ng-if="$ctrl.suivant" class="col-xs-12" align="center">
				<a ng-href="#!/technologie/{{$ctrl.suivant.urlId}}/1"><i class="fa fa-2x fa-chevron-down" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>
</div>