.tiny-padding {
    padding: 8px
}

.tech-card {
    overflow: hidden;
    position: relative;
}

.caption {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(0, 250, 250, 0.75);
    width: 100%;
    padding: 2%;
    color: black !important;
    z-index: 2;

    font-family: "Nasalization Rg";
}