.technologies-bg {
    background-image: url("../assets/img/ciel.jpg");
    height: 100vh;
}

.techs-tabs > li > a {
    color: grey;
}

.techs-tabs > li.active > a {
    color: white;
}

/* change bootstrap default color for tabs */
.techs-tabs > li.active > a,
.techs-tabs > li.active > a:hover,
.techs-tabs > li.active > a:focus {
    background-color: steelblue;
}

.techs-tabs li {
    width: 50%;
    text-align: center;
    background-color: black;
    opacity:0.8;
}

.techs-tabs {
    border-bottom: none;
    font-family: "Nasalization Rg";
}

.technologies {
    margin-left: 15%;
    margin-right: 7%;
    position: relative;
    height: 92%;
    overflow: auto;
}

.technologies a {
    text-decoration: none;
    font-weight: normal;
    color: black;
}

.technologies .tech-card {
    float: left;
    margin: 3% 0 6% 6%;
    width: 33%;
    -webkit-box-shadow: 8px 8px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 8px 8px rgba(0, 0, 0, 0.7);
    box-shadow: 8px 8px rgba(0, 0, 0, 0.7);
}