<link type="text/css" rel="stylesheet" href="accueil/accueil.template.css"/>

<div>
    <div class="row">
        <div class="col-sm-12 technologies-bg">
            <div class="row">
                {{$ctrl.test}}bouboub
                <ul class="nav nav-tabs techs-tabs">
                    <li role="presentation" ng-class="{active: $ctrl.tab == $ctrl.tab_name.DISCOVER}"><a href="#!/{{$ctrl.tab_name.DISCOVER}}">Technologies à découvrir</a></li>
                    <li role="presentation" ng-class="{active: $ctrl.tab == $ctrl.tab_name.OWNED}"><a href="#!/{{$ctrl.tab_name.OWNED}}">Mes technologies</a></li>
                </ul>
            </div>
            
            <div class="row technologies" ng-if="$ctrl.tab == $ctrl.tab_name.DISCOVER">
                <a ng-repeat="tech in $ctrl.techs" href="#!/technology/{{tech.id}}">
                    <technologie-rectangle></technologie-rectangle>
                </a>
            </div>
            <div class="row technologies" ng-if="$ctrl.tab == $ctrl.tab_name.OWNED">
                <technologie-bloc></technologie-bloc>
                <technologie-bloc></technologie-bloc>
                <technologie-bloc></technologie-bloc>
                <technologie-bloc></technologie-bloc>
            </div>
            
        </div>
    </div>
</div>