.retour h4 {
	padding: 5px;
}

.exercice-body {
	padding-left: 15px;
}

.footer-validation {
	padding-top: 50px;
	padding-bottom: 10px;
}

.tech-modal-content {
	color: black;
	padding-left: 15px;
}

.alink {
	color: white;
}

.alink:link {
    text-decoration: none;
}

.alink:visited {
    text-decoration: none;
}