/* app css stylesheet */
@font-face {
    font-family: "Nasalization Rg";
    src: url("assets/nasalization/nasalization-rg.ttf");
}

body {
    background-image: url("../assets/img/ciel.jpg");
    height: 100vh;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.appli-content {
    color: white;
}

/* Everything else */
.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

/*** Useful classes ***/
.tiny-padding-top {
    padding-top: 5px;
}

.tiny-margin-top {
    margin-top: 5px;
}

.medium-margin-top {
    margin-top: 25px;
}

.big-margin-top {
    margin-top: 50px;
}
