<link type="text/css" rel="stylesheet" href="infrastructures/info-technologie/info-generique/info-generique.template.css"/>

<div class="row technologie-cout">
	<div class="col-xs-12">
		<h4>Brevet</h4>
		<table class="table short-table">
			<tr>
				<td class="col-xs-1">
					Guilde
				</td>
				<td class="col-xs-1">
					<img class="mini-pic" alt="{{$ctrl.guilde.nom.charAt(0)}}" ng-src="{{ $ctrl.guilde.logo }}"/> {{ $ctrl.guilde.nom }}
				</td>
			</tr>
			<tr ng-if="$ctrl.annuite !== 'none'">
				<td ng-if="$ctrl.annuite === 'out'" class="col-xs-1">
					Frais licence /tour
				</td>
				<td ng-if="$ctrl.annuite === 'in'" class="col-xs-1">
					Revenus licence /tour
				</td>
				<td ng-repeat="coutLicence in $ctrl.coutsLicence" class="col-xs-1">
					<img class="mini-pic" ng-src="{{coutLicence.icone}}"/> {{coutLicence.valeur | numberize}}
				</td>
			</tr>
		</table>
	</div>

</div>
<div ng-if="$ctrl.aObtenir">
	<div class="row">
		<div class="col-xs-12">
			<button ng-click="$ctrl.modalBrevet()" class="btn btn-default center-block btn-large" type="submit">Obtenir</button>
		</div>
	</div>
	<modal-dialog show='$ctrl.modalShown' width='550px' height='60%'>
	  <div class="tech-modal-content">
		<h3>Obtenir une technologie</h3>
		<p>Un brevet a déjà été déposé par la guilde <img class="mini-pic" alt="logo-guilde" ng-src="assets/logos/Logo_technologue.png"/> ! Vous pouvez cependant essayer de découvrir la technologie, ou bien d'acheter une licence du brevet.</p>
		<div class="col-xs-6 technologie-cout">
			<h4>Découverte</h4>
			<table class="table short-table">
				<tr>
					<td class="col-xs-1">
						Coût tentative
					</td>
					<td ng-repeat="coutTentativeDecouverte in $ctrl.coutsTentativeDecouverte" class="col-xs-1">
						<img class="mini-pic" ng-src="{{coutTentativeDecouverte.icone}}"/> {{coutTentativeDecouverte.valeur | numberize}}
					</td>
				</tr>
			</table>
			<button ng-if="$ctrl.solde-$ctrl.coutsTentativeDecouverte[0].valeur > 0" ng-click="$ctrl.goToExercice($ctrl.defiTechnologique, $ctrl.coutsTentativeDecouverte[0].valeur)" class="btn btn-default btn-large center-block big-margin-top" type="submit">Découvrir !</button>
			<div align="middle" ng-if="$ctrl.solde-$ctrl.coutsTentativeDecouverte[0].valeur <= 0"><button class="btn btn-default btn-large center-block big-margin-top" type="submit" disabled>Découvrir !</button>
			<i class="fa fa-exclamation-triangle warning-color" aria-hidden="true"></i> Pas assez de ressources</div>
	  	</div>
	  	<div class="col-xs-6 technologie-cout">
	  		<h4>Achat licence</h4>
			<table class="table short-table">
				<tr>
					<td class="col-xs-1">
						Coût tentative
					</td>
					<td ng-repeat="coutTentativeLicence in $ctrl.coutsTentativeLicence" class="col-xs-1">
						<img class="mini-pic" ng-src="{{coutTentativeLicence.icone}}"/> {{coutTentativeLicence.valeur | numberize}}
					</td>
				</tr>
				<tr>
					<td class="col-xs-1">
						Frais licence/tour
					</td>
					<td ng-repeat="coutLicence in $ctrl.coutsLicence" class="col-xs-1">
						<img class="mini-pic" ng-src="{{coutLicence.icone}}"/> {{coutLicence.valeur | numberize}}
					</td>
				</tr>
			</table>
			<button ng-if="$ctrl.solde-$ctrl.coutsTentativeLicence[0].valeur > 0" ng-click="$ctrl.goToExercice($ctrl.achatLicence, $ctrl.coutsTentativeLicence[0].valeur)" class="btn btn-default btn-large center-block medium-margin-top" type="submit">Acheter licence</button>
			<div align="middle" ng-if="$ctrl.solde-$ctrl.coutsTentativeLicence[0].valeur <= 0"><button class="btn btn-default btn-large center-block medium-margin-top" type="submit" disabled>Acheter licence</button>
			<i class="fa fa-exclamation-triangle warning-color" aria-hidden="true"></i> Pas assez de ressources</div>
	  	</div>
	  </div>
	</modal-dialog>
</div>