/* Opening door for connexion */
.slider {
    overflow-y: hidden;
    max-height: 100vh; /* approximate max height */

    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.85);
    text-align: center;
}

.big-logo-pr {
    padding-top: 10%;
}

.btn-valider {
    padding-top: 15px;
}
