<link type="text/css" rel="stylesheet" href="infrastructures/info-technologie/info-technologie.template.css"/>

<div class="row">
	<div class="col-xs-12 middle-container">
		<info-eleve></info-eleve>
		<cercles-niveau></cercles-niveau>
		<div class="row">
			<div class="col-xs-12">
				<h2>Niveau {{$ctrl.niveau}}</h2>
			</div>
		</div>
		<div class="row technologie-cout">
			<div class="col-xs-12">
				<table class="table short-table">
					<tr>
						<td class="col-xs-1">
        					Coût de pose
						</td>
						<td ng-repeat="cout in $ctrl.coutsPose" class="col-xs-1">
        					<img class="mini-pic" ng-src="{{cout.icone}}"/> {{cout.valeur | numberize}}
						</td>
					</tr>
					<tr>
						<td class="col-xs-1">
        					Gains/tour
						</td>
						<td ng-repeat="gain in $ctrl.gains" class="col-xs-1">
        					<img class="mini-pic" ng-src="{{gain.icone}}"/> {{gain.valeur | numberize}}
						</td>

					</tr>
				</table>
			</div>
		</div>

		<info-generique ng-if="$ctrl.templateTechno === 'generique'" guilde="$ctrl.guilde" a-obtenir="$ctrl.aObtenir" annuite="$ctrl.annuite"></info-generique>
		<info-sans-brevet ng-if="$ctrl.templateTechno === 'sansBrevet'"></info-sans-brevet>

	</div>
</div>