.tiny-padding {
    padding: 8px
}

.tech-bloc {
    margin-top: 20px;
    background: #fff;
    border-style: outset;
    border-color: cyan;
    border-width: 2px;
}

.img-bloc {
    padding: 1%;
    background: cyan;
}

.tech-bloc h5 {
    text-align: center;
    font-family: "Nasalization Rg";
}

.hr-bloc {
    margin: 0;
    border: 0; height: 1px; background: #333; background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.caption {
    position: absolute;
    top: 67%;
    height:33%;
    right: 0;
    background: rgba(66, 139, 202, 0.75);
    width: 100%;
    padding: 2%;
    color: #fff !important;
    z-index: 2;
}