

<div class="row technologie-cout">
	<div class="col-xs-9">
		<h4>Avantages si dépôt de brevet</h4>
		<table class="table short-table">
			<tr>
				<td class="col-xs-1">
					Coût de pose
				</td>
				<td ng-repeat="coutPose in $ctrl.coutsPose" class="col-xs-1">
					<img class="mini-pic" ng-src="{{coutPose.icone}}"/> {{coutPose.valeur | numberize}}
				</td>
			</tr>
			<tr>
				<td class="col-xs-1">
					Gains/tour
				</td>
				<td ng-repeat="gain in $ctrl.gains" class="col-xs-1">
					<img class="mini-pic" ng-src="{{gain.icone}}"/> {{gain.valeur | numberize}}
				</td>
			</tr>
			<tr>
				<td class="col-xs-1">
					Revenus licence
				</td>
				<td ng-repeat="revenu in $ctrl.revenus" class="col-xs-1">
					<img class="mini-pic" ng-src="{{revenu.icone}}"/> {{revenu.valeur | numberize}}
				</td>
			</tr>
		</table>
	</div>
	
	<div class="col-xs-3">
		<h5>Progression</h5>
		<div ng-repeat="guilde in $ctrl.avancementsDecouverte">
			<img class="miniature-progress-bar" alt="logo-guilde" ng-src="assets/logos/Logo_batisseurs.png"/>
			<div class="progress">
			  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{guilde.count*100/$ctrl.decRequired}}" aria-valuemin="0" aria-valuemax="{{$ctrl.decRequired}}" style="width: 0%;">
			    {{guilde.count}}/{{$ctrl.decRequired}}
			  </div>
			</div>
		</div>
		
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<button ng-click="$ctrl.modalBrevet()" class="btn btn-default center-block btn-large" type="submit">Obtenir</button>
	</div>
</div>
<modal-dialog show='$ctrl.modalShown' width='550px' height='60%'>
  <div class="tech-modal-content">
		<h3>Tentative de découverte</h2>
		<p>Aucun brevet n'a été déposé pour le moment. Un brevet est déposé lorsque 3 membres d'une même guilde ont découvert la technologie. Attention, un seul brevet peut-être déposé par technologie, dépêchez-vous !</p>

	<p>Il manque encore 1 <span><img alt="logo-guilde" class="mini-pic" ng-src="assets/logos/Logo_energeticien.png"/></span> pour déposer le brevet</p>

	<p>Coût de la tentative : <img alt="logo-guilde" class="mini-pic" ng-src="assets/logos/petite_pile.png"/> -150</p>

	<button ng-click="" class="btn btn-default btn-large center-block big-margin-top" type="submit">Découvrir !</button>
  	
  </div>
</modal-dialog>